<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{{ titulo }}</title>
  </head>
  <body>
    <h1>{{ titulo }}</h1>
    <p>{{ mensaje }}</p>

    <h3>Accesos rápidos:</h3>
    <ul>
      <li><a href="/api/pacientes">Ver pacientes</a></li>
      <li><a href="/api/doctores">Ver doctores</a></li>
      <li><a href="/api/consultorios">Ver consultorios</a></li>
      <li><a href="/api/citas">Ver citas</a></li>
    </ul>

    <hr />
    <small>
      Equipo:<br />
      Apodaca Ramírez José Daniel - 23030500<br />
      Kumagai Mendoza Yosichi - 23030674<br />
      Vargas Medina Josué - 23030151
    </small>
  </body>
</html>
